In [1]:
# Import necessary libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Always make it pretty.
plt.style.use('ggplot')
%matplotlib inline
sns.set_style(style="whitegrid")

In [5]:
# Load the data
business_json_path = 'data/yelp_dataset/yelp_dataset~/yelp_academic_dataset_business.json'
business_df = pd.read_json(business_json_path, lines=True)

In [7]:
review_json_path = 'data/yelp_dataset/yelp_dataset~/yelp_academic_dataset_review.json'
review_df = pd.read_json(review_json_path,
                         lines=True,
                         dtype={'review_id':str,'user_id':str,
                                'business_id':str,'stars':int,
                                'date':str,'text':str,'useful':int,
                                'funny':int,'cool':int})

In [8]:
user_json_path = 'data/yelp_dataset/yelp_dataset~/yelp_academic_dataset_user.json'
user_df = pd.read_json(user_json_path, lines=True)

In [10]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   209393 non-null  object
 1   name          209393 non-null  object
 2   address       209393 non-null  object
 3   city          209393 non-null  object
 4   state         209393 non-null  object
 5   postal_code   209393 non-null  object
 6   latitude      209393 non-null  float64
 7   longitude     209393 non-null  float64
 8   stars         209393 non-null  float64
 9   review_count  209393 non-null  int64
 10  is_open       209393 non-null  int64
 11  attributes    180348 non-null  object
 12  categories    208869 non-null  object
 13  hours         164550 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 22.4+ MB

In [13]:
business_df['city'].value_counts()

Las Vegas            31631
Toronto              20366
Phoenix              20171
Charlotte            10422
Scottsdale            9342
                     ...
Warrensville             1
Maple Grove              1
New Tecumseth            1
Phoenix Valley           1
Warrensville Hts.        1
Name: city, Length: 1251, dtype: int64

In [14]:
review_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2,5,0,0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1,1,1,0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1,0,0,0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4,0,0,0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [15]:
user_df.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,2007-07-06 03:27:11,628,225,227,,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...",14,...,2,1,0,1,11,15,22,22,10,0
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,2008-04-28 01:29:25,790,316,400,"2008,2009,2010,2011,2012,2013","ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...",27,...,4,5,2,1,33,37,63,63,21,5
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,2008-08-28 23:40:05,151,125,103,2010,"Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ...",5,...,6,0,1,0,3,7,17,17,4,1
3,QaELAmRcDc5TfJEylaaP8g,John,206,2008-09-20 00:08:14,233,160,84,2009,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ...",6,...,1,0,0,0,7,14,7,7,2,0
4,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,1265,400,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018","3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",78,...,9,2,1,1,22,28,31,31,19,31

In [16]:
# Drop unneeded columns for users
user_df.drop(columns=['useful', 'funny', 'cool', 'fans', 'elite',
                      'friends', 'compliment_hot', 'compliment_more',
                      'compliment_profile', 'compliment_cute',
                      'compliment_list', 'compliment_note',
                      'compliment_plain', 'compliment_cool',
                      'compliment_funny', 'compliment_writer',
                      'compliment_photos'],
             axis=1, inplace=True)

In [17]:
user_df.head()

,user_id,name,review_count,yelping_since,average_stars
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,2007-07-06 03:27:11,3.57
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,2008-04-28 01:29:25,3.84
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,2008-08-28 23:40:05,3.44
3,QaELAmRcDc5TfJEylaaP8g,John,206,2008-09-20 00:08:14,3.08
4,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,4.37

In [20]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968703 entries, 0 to 1968702
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        object
 1   name           object
 2   review_count   int64
 3   yelping_since  object
 4   average_stars  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 75.1+ MB

In [18]:
# Drop unneeded columns for businesses
business_df.drop(columns=['address', 'postal_code', 'latitude', 'longitude',
                          'attributes', 'hours'],
                 axis=1, inplace=True)

In [19]:
business_df.head()

,business_id,name,city,state,stars,review_count,is_open,categories
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,Cornelius,NC,3.5,36,1,"Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD",Scottsdale,AZ,5.0,4,1,"Health & Medical, Fitness & Instruction, Yoga,..."
2,XNoUzKckATkOD1hP6vghZg,Felinus,Montreal,QC,5.0,5,1,"Pets, Pet Services, Pet Groomers"
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,North Las Vegas,NV,2.5,3,0,"Hardware Stores, Home Services, Building Suppl..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,Mesa,AZ,4.5,26,1,"Home Services, Plumbing, Electricians, Handyma..."

In [21]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   209393 non-null  object
 1   name          209393 non-null  object
 2   city          209393 non-null  object
 3   state         209393 non-null  object
 4   stars         209393 non-null  float64
 5   review_count  209393 non-null  int64
 6   is_open       209393 non-null  int64
 7   categories    208869 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 12.8+ MB

In [23]:
# Drop unneeded columns for reviews
review_df.drop(columns=['useful', 'funny', 'cool'], axis=1, inplace=True)

In [24]:
review_df.head()

,review_id,user_id,business_id,stars,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [26]:
print(business_df.shape)
print(user_df.shape)
print(review_df.shape)

(209393, 8)
(1968703, 5)
(8021122, 6)

In [29]:
business_explode_df = (business_df.assign
                       (categories = business_df.categories.str.split(', '))
                       .explode('categories'))

In [31]:
business_explode_df.head()

,business_id,name,city,state,stars,review_count,is_open,categories
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,Cornelius,NC,3.5,36,1,Active Life
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,Cornelius,NC,3.5,36,1,Gun/Rifle Ranges
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,Cornelius,NC,3.5,36,1,Guns & Ammo
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,Cornelius,NC,3.5,36,1,Shopping
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD",Scottsdale,AZ,5.0,4,1,Health & Medical

In [32]:
business_explode_df.shape

(873318, 8)

In [43]:
business_explode_df['categories'].value_counts()

Restaurants                    63944
Shopping                       34644
Food                           32991
Home Services                  22487
Beauty & Spas                  20520
                               ...
Udon                               1
Sauna Installation & Repair        1
Speech Training                    1
Silent Disco                       1
Paragliding                        1
Name: categories, Length: 1336, dtype: int64

In [42]:
business_explode_df[business_explode_df['categories'].str.contains('Restaurants', case=False, na=False)]

,business_id,name,city,state,stars,review_count,is_open,categories
8,pQeaRpvuhoEqudo3uymHIQ,The Empanadas House,Champaign,IL,4.5,5,1,Restaurants
20,CsLQLiRoafpJPJSkNX2h5Q,Middle East Deli,Charlotte,NC,3.0,5,0,Restaurants
24,eBEfgOPG7pvFhb2wcG9I7w,Philthy Phillys,Aurora,ON,4.5,4,1,Restaurants
25,lu7vtrp_bE9PnxWfA8g4Pg,Banzai Sushi,Thornhill,ON,4.5,7,1,Restaurants
30,9sRGfSVEfLhN_km60YruTA,Apadana Restaurant,Richmond Hill,ON,3.0,3,1,Restaurants
...,...,...,...,...,...,...,...,...
209381,xVpE01l6ZXdEtVf5PkRpDg,Julep,Madison,WI,4.0,95,0,Restaurants
209383,BAVuLTDmpSzDCk37A5HjtQ,Bruegger's Bagels,North Olmsted,OH,3.0,13,0,Restaurants
209385,hskVqZCPqy-omm9CHi44xQ,Domino's,Charlotte,NC,2.0,16,1,Restaurants
209388,9Q0fPWAjUweoFDk0kafuzQ,Nishi Sushi,Vaughan,ON,4.0,5,0,Restaurants
209390,SYa2j1boLF8DcGVOYfHPcA,Five Guys,Scottsdale,AZ,3.5,97,1,Restaurants

In [46]:
restaurant_df = (business_df[business_df['categories']
                             .str
                             .contains('Restaurants', case=False, na=False)])

<bound method DataFrame.info of                    business_id                 name           city state  \
8       pQeaRpvuhoEqudo3uymHIQ  The Empanadas House      Champaign    IL
20      CsLQLiRoafpJPJSkNX2h5Q     Middle East Deli      Charlotte    NC
24      eBEfgOPG7pvFhb2wcG9I7w      Philthy Phillys         Aurora    ON
25      lu7vtrp_bE9PnxWfA8g4Pg         Banzai Sushi      Thornhill    ON
30      9sRGfSVEfLhN_km60YruTA   Apadana Restaurant  Richmond Hill    ON
...                        ...                  ...            ...   ...
209381  xVpE01l6ZXdEtVf5PkRpDg                Julep        Madison    WI
209383  BAVuLTDmpSzDCk37A5HjtQ    Bruegger's Bagels  North Olmsted    OH
209385  hskVqZCPqy-omm9CHi44xQ             Domino's      Charlotte    NC
209388  9Q0fPWAjUweoFDk0kafuzQ          Nishi Sushi        Vaughan    ON
209390  SYa2j1boLF8DcGVOYfHPcA            Five Guys     Scottsdale    AZ

        stars  review_count  is_open  \
8         4.5             5        1
20        3.0             5        0
24        4.5             4        1
25        4.5             7        1
30        3.0             3        1
...       ...           ...      ...
209381    4.0            95        0
209383    3.0            13        0
209385    2.0            16        1
209388    4.0             5        0
209390    3.5            97        1

                                               categories
8       Ethnic Food, Food Trucks, Specialty Food, Impo...
20             Food, Restaurants, Grocery, Middle Eastern
24                 Restaurants, Cheesesteaks, Poutineries
25           Japanese, Fast Food, Food Court, Restaurants
30      Persian/Iranian, Turkish, Middle Eastern, Rest...
...                                                   ...
209381     Nightlife, Diners, Bars, Southern, Restaurants
209383  Restaurants, Sandwiches, Food, Breakfast & Bru...
209385  Restaurants, Pizza, Sandwiches, Fast Food, Chi...
209388                  Japanese, Sushi Bars, Restaurants
209390  American (New), Food, Burgers, Restaurants, Fa...

[63944 rows x 8 columns]>

In [47]:
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63944 entries, 8 to 209390
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   63944 non-null  object
 1   name          63944 non-null  object
 2   city          63944 non-null  object
 3   state         63944 non-null  object
 4   stars         63944 non-null  float64
 5   review_count  63944 non-null  int64
 6   is_open       63944 non-null  int64
 7   categories    63944 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 4.4+ MB

In [48]:
restaurant_df['city'].value_counts()[:10]

Toronto        8679
Las Vegas      6931
Phoenix        4217
Montréal       4097
Calgary        3117
Charlotte      2922
Pittsburgh     2608
Scottsdale     1652
Mississauga    1612
Cleveland      1550
Name: city, dtype: int64

In [52]:
review_df.head()

,review_id,user_id,business_id,stars,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [56]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968703 entries, 0 to 1968702
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        object
 1   name           object
 2   review_count   int64
 3   yelping_since  object
 4   average_stars  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 75.1+ MB

In [57]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8021122 entries, 0 to 8021121
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   text         object
 5   date         object
dtypes: int64(1), object(5)
memory usage: 367.2+ MB

In [58]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   209393 non-null  object
 1   name          209393 non-null  object
 2   city          209393 non-null  object
 3   state         209393 non-null  object
 4   stars         209393 non-null  float64
 5   review_count  209393 non-null  int64
 6   is_open       209393 non-null  int64
 7   categories    208869 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 12.8+ MB

In [59]:
# Rename columns to avoid mix-ups
review_df.rename(columns={'stars':'review_stars'}, inplace=True)
business_df.rename(columns={'stars':'business_stars',
                            'name':'business_name'}, inplace=True)
user_df.rename(columns={'name':'user_name'}, inplace=True)

,user_id,user_name,review_count,yelping_since,average_stars
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,2007-07-06 03:27:11,3.57
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,2008-04-28 01:29:25,3.84
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,2008-08-28 23:40:05,3.44
3,QaELAmRcDc5TfJEylaaP8g,John,206,2008-09-20 00:08:14,3.08
4,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,4.37
...,...,...,...,...,...
1968698,gDC6V3sfu9SixRic9hkEQQ,Larry,9,2014-04-27 16:17:05,3.56
1968699,VEAWhS_RF-cKSUflmbCn7Q,Frank,10,2011-10-06 23:38:14,2.30
1968700,toAMthOzk2VDBgpW7Hu3eA,Greg,1,2016-05-08 16:42:58,1.00
1968701,hNX_EqOMImKGUx4g1x532A,RJ,2,2019-06-22 21:39:22,1.00
1968702,9lsXyOI065n-T0pJ_EoA_w,Aaron,2,2018-08-17 21:10:18,5.00

In [62]:
user_df.head()

,user_id,user_name,review_count,yelping_since,average_stars
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,2007-07-06 03:27:11,3.57
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,2008-04-28 01:29:25,3.84
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,2008-08-28 23:40:05,3.44
3,QaELAmRcDc5TfJEylaaP8g,John,206,2008-09-20 00:08:14,3.08
4,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,4.37

In [68]:
review_business_df = review_df.merge(business_df, on='business_id')
all_df = review_business_df.merge(user_df, on='user_id')
charlotte_df = (all_df[(all_df['city'] == 'Charlotte') &
                       (all_df['is_open'] == 1)])

In [69]:
charlotte_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333379 entries, 2182 to 8021115
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   review_id       333379 non-null  object
 1   user_id         333379 non-null  object
 2   business_id     333379 non-null  object
 3   review_stars    333379 non-null  int64
 4   text            333379 non-null  object
 5   date            333379 non-null  object
 6   business_name   333379 non-null  object
 7   city            333379 non-null  object
 8   state           333379 non-null  object
 9   business_stars  333379 non-null  float64
 10  review_count_x  333379 non-null  int64
 11  is_open         333379 non-null  int64
 12  categories      333297 non-null  object
 13  user_name       333379 non-null  object
 14  review_count_y  333379 non-null  int64
 15  yelping_since   333379 non-null  object
 16  average_stars   333379 non-null  float64
dtypes: float64(2), int64(4), object(11)
memory usage: 45.8+ MB

In [72]:
charlotte_df = charlotte_df[charlotte_df['categories'].str.contains('Restaurants', case=False, na=False)]

In [75]:
# Rename columns to avoid mix-ups
all_df.rename(columns={'review_count_x':'business_review_count',
                       'review_count_y':'user_review_count'},
              inplace=True)
charlotte_df.rename(columns={'review_count_x':'business_review_count',
                             'review_count_y':'user_review_count'},
                    inplace=True)

In [79]:
charlotte_df.reset_index(drop=True, inplace=True)
charlotte_df.head()

,review_id,user_id,business_id,review_stars,text,date,business_name,city,state,business_stars,business_review_count,is_open,categories,user_name,user_review_count,yelping_since,average_stars
0,ML1EIuelvWxb8WOt76iv9w,Xsuv6bKcPUVDWih0DtEBbA,3Ui-76sC9_fNs2gu8ISAMw,4,"In need of lunch and craving pizza, I stumbled...",2012-11-17 02:48:38,Brixx Wood Fired Pizza,Charlotte,NC,3.5,163,1,"Pizza, Restaurants, Salad, Sandwiches, Italian",Liz,454,2010-05-16 16:25:16,3.96
1,lFYxXFcKeIVL7xDyht5Y_g,QEpNF4Hag6_W9Stc-1Frvg,R1jJQi2yR44D_2ileqr8kA,4,Gluten Free: Yes\nCasein Free: Yes\nVegan: Yes...,2016-08-06 03:46:28,Living Kitchen,Charlotte,NC,4.5,502,1,"Vegan, Live/Raw Food, Restaurants, Vegetarian",Stacy,851,2013-02-12 21:21:29,3.70
2,bt-jYgHuSAMO0KiSCtiFBw,QEpNF4Hag6_W9Stc-1Frvg,zrEmWr6ue5yfxnKr4E2_jg,5,"Gluten Free: Yes, item specific\nCasein Free: ...",2018-07-14 06:05:44,Bleu Barn Bistro,Charlotte,NC,4.5,44,1,"Food, Street Vendors, Food Trucks, Event Plann...",Stacy,851,2013-02-12 21:21:29,3.70
3,BXIV_0SZEyeLX6D94ikyPA,QEpNF4Hag6_W9Stc-1Frvg,DTJ9_6yKye0Ul2qG45vGKw,5,"Gluten free- Yes\nCasein free- Yes, just don't...",2017-06-15 04:53:52,Grabbagreen Food + Juice,Charlotte,NC,3.5,28,1,"Juice Bars & Smoothies, Restaurants, Food, Fas...",Stacy,851,2013-02-12 21:21:29,3.70
4,bLmB7p61YxzagnFyVu3-4A,QEpNF4Hag6_W9Stc-1Frvg,RMzjD_LpED02tGGafX0RBw,5,Gluten Free- Yes\nCasein Free - Yes\n\nI have ...,2017-07-09 04:13:30,City Barbeque,Charlotte,NC,4.0,173,1,"Barbeque, American (Traditional), Event Planni...",Stacy,851,2013-02-12 21:21:29,3.70

In [ ]:
all_df.to_csv()